<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creat new post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Write a text</h1>
    <p th:if="${currentUser}">
        Your logged as: <span th:text="${currentUser.login}">Login</span>
    </p>
    <p th:unless="${currentUser}">
        You are not authorized. Please, <a href="/login">sign up</a> for creating new posts.
    </p>
    <form th:if="${currentUser}" th:action="@{/texts/create}" th:object="${text}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" th:field="*{title}" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="form-control" th:field="*{content}" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>